.body {
    font-family: '微软雅黑'
}
.top10{
    margin-top: 10px;
}

.close-to-left{
    padding-left: 0;
}

.close-to-right{
    padding-right: 0;
}

.content{
    padding-top: 10px;
}


.calendar {

}

.calendar .cell{
}
.calendar .focus{
    border: 2px solid #337ab7;
}
.calendar .cur{
    cursor: pointer;;
}
.calendar .cur:hover{
    background-color: #d7d7d9;
}
.calendar .oth{
    opacity: 0.3;
}

.calendar .name{
    font-weight: bold;
}

.edit-area{

}

.sub-edit-area{
    padding-left: 10px;
    padding-right: 10px;
}

.sub-edit-area textarea{
    width:100%;
    min-height:200px;
}
